/*
 * Users Show Page
 */

#user-bot-list {
  float: left;
  width: 366px;
  margin-left: 20px;
}

.bot-entry {
  height: auto;
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.bot-graph {
  width: 180px;
  float: right;
}

.bot-title {
  color: #ccc;
  font-size: 18px;
}

.bot-game-title {
  font-size: 12px;
}

.page-container {
  height: auto;
  overflow: hidden;
}

#user-intro {
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

#user-intro img {
  float: left;
}

#user-name {
  padding-left: 100px;
  width: 300px;
}

#user-personal-leaderboard {
  position: relative;
  float: left;
}

#user-personal-leaderboard h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.leaderboard-entry {
  border: 1px solid #ccc;
  width: 600px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}

.leaderboard-entry.me {
  background-color: #faffe9
}

.leaderboard-entry-left-icon , .leaderboard-entry-right-icon {
  position: absolute;
  top: 4px;
}

.leaderboard-entry-left-icon {
  left: 0;
}

.leaderboard-entry-right-icon {
  right: 0;
}

/*
 * General
 */

body {
	font-family: Gill,Helvetica,sans-serif;
	background: #fefefe; 
	font: 13px/1.231 sans-serif;
	text-align:left;
	} 

.cenwrap {width:988px; margin: 0 auto;  }

h1 {font-size: 500%;}
h2 {font-size: 140%; line-height:1.2em; margin-top:1.2em; margin-bottom:2px;}

a {text-decoration: none;} 
ul>li {list-style: circle outside none; }
ol>li {list-style: decimal outside none;} 

li { margin-left: 10px;} 


hgroup {
	padding: 30px 0;
	background: url('http://code-wars.com/media/images/netalgorithm.jpg') no-repeat top right;
	filter:alpha(opacity=60);
  	opacity:0.6;
}

#cw-logo {
	background: url("http://code-wars.com/media/images/code-wars.jpg") no-repeat scroll -10px 0 transparent;
  	height:60px;
	}

#tagline { padding-left:5px; font-family: Gill, Helvetica, sans-serif; font-style:italic;}

nav {		border-bottom:1px solid #ccc;}
	#topnavbar { font-family:"Trebuchet MS",sans-serif; font-weight:bold; }
	#topnavbar a { padding: 5px 14px; display:block; float:left; color:#000; }
	#topnavbar a:hover { color:white; background:#fafafa; color:#1C3A1C; }
	#topnavbar li {border: 1px solid #ccc; border-right:none; display:block; float:left; list-style-type:none; margin: 0px;}
	#topnavbar li.rightend {border-right:  1px solid #ccc; } 
	#topnavbar li.admin a { background:#ec8380; }
	#topnavbar li.dim a {color: #777; } 
	#topnavbar li.strong a { background: #009109; color: #EEE; } 

 #userbar {text-align:right; }
    #userbar li {display:inline; margin-left:6px;}

#content {
	display: table;
	margin: 15px auto;
	font-size:140%
	}

aside {display: table-cell; } 
	
#MainContent { 
	display: table-cell; 
	width: 800px; 
	} 

footer {
	padding:1em 0 2em;
	background: #5868dc;
	color: #FFF; 
	font-family: garamond;
	margin-top:2em;
}
#footersection {
	width:988px; 
	margin: 0 auto;   
	}
	
#footersection h2 {font-family:garamond; margin:0 0 0.5em;font-size:150%; font-weight:800;}
#footersection li {padding:0px; font-size:105%; list-style: none outside none;}
#footersection a {color:#FFF;}
#footersection .copyright {text-align:right; margin-top:3em; margin-right:8%;}


#three-wide {margin-top:10px;} 
#three-wide section {
	display: table-cell; 
	width: 33%;
	padding: 10px 5px;
	}

.column_content {
	margin: 10px auto;
    width: 80%;
}

.roundbox {
	width: 80%; height: 100px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	vertical-align: middle;
	text-align:center;
	margin: 0 auto;
}
	.roundbox>h3 { color: #444; font-size: 25px; }

.leftbox {
	background-image: -webkit-gradient(radial, 50% 0, 0, 50% 100, 950, from(white), to(#22F));
	background-image: -moz-radial-gradient(50% 50% 90deg, circle cover, white, #22F);
}

.middlebox {
	background-image: -webkit-gradient(radial, 50% 0, 0, 50% 100, 950, from(white), to(#d1d111));
	background-image: -moz-radial-gradient(50% 50% 90deg, circle cover, white, #d1d111);
}

.rightbox {
	background-image: -webkit-gradient(radial, 50% 0, 0, 50% 100, 950, from(white), to(#2F2));
	background-image: -moz-radial-gradient(50% 50% 90deg, circle cover, white, #2F2);
}

.blbar {height:5px; background: #aaa; margin: 15px 0 5px;}

/*
 * Homepage
 */

#sidebar-homepage { width: 200px; } 
h2.punch { font-weight:bold; color: #487858;}
.rankings {padding-top:5px;font-size:15px; font-weight:500;} 
.rankings>ol>li {margin-left: 20px; } 
.rankings h3 {font-size:120%;} 

.login {margin: 0 auto; width:130px;} 
.loginbutton{ 
	border-radius: 5px;
	border: 1px solid #D4D4D4;
	background-image: -webkit-gradient(radial, from(#f4f4f4), to(#ececec));
	background-image: -moz-linear-gradient(center top , #F4F4F4, #ECECEC);
	width: 120px;
}
.loginbutton:hover{
	background-image: -webkit-gradient(radial, from(#CCC), to(#F2F2F2));
	background-image: -moz-linear-gradient(center top , #CCC, #F2F2F2);
}
.imgalign { padding:10px; } 

/*
 * Education Page
 */
