<div id="content">
<div id="three-wide">	
	<section>
	<div class="roundbox bluebox">
	<h3>Battle.io <br /> for <br />education</h3>
	</div>
	<p>
	<ul>
		<li>Coding Challenges and Games</li>
		<li>Constructive Competition</li>
		<li>Compare and Collaborate</li>
		<li>Learn together</li>
		<li>Develop the best solution</li>
	</ul>
	</p>
	</section>
	
	<section>
	<div class="roundbox greybox">
	<h3>Battle.io <br /> for <br />education</h3>
	</div>
	<p>
	In a survey of undergraduate students utilizing battle.io in a classroom setting:<br />
	<%= image_tag "survey_infographic.png", :alt => 'survey results infographic', :width => '280px' %>
	</p>
	</section>

	<section>
	<div class="roundbox greenbox">
	<h3>Battle.io <br /> for <br />education</h3>
	</div>

	<section>

</div><!-- #main --> 

</div> <!-- #content --> 