<div id="content">

<div id="MainContent" class="clearfix">
	EDU Content
	<section>
		Section1
	</section>
</div><!-- #main --> 

<aside id="sidebar-homepage">
Aside
<aside>

</div> <!-- #content --> 