<div class="yui-gc">
  <div class="yui-u first">
    <h3>What Students are Saying</h3>
    <%= image_tag "more-involved.png" , :id => "more-involved-stats-image" %>
    <ul>
      <li><em>61%</em> Felt More Engaged</li>
      <li><em>65%</em> Said They Received A Higher Grade</li>
      <li><em>74%</em> Reported They Had A Better Learning Experience</li>
    </ul>
  </div>
  <div class="yui-u">
    <h3>Contact Codewars</h3>
    <p>Email us to discuss hosting an event</p>
    <a href="mailto:edu@code-wars.com">edu@code-wars.com</a>
  </div>
</div>
<div class="yui-g">
  <div class="yui-u first">
    <h3>Teach Core Concepts</h3>
    <ul>
      <li>Logical and Analytical Thinking</li>
      <li>Specific Language Constructs</li>
      <li>Development and Engineering Best Practices</li>
      <li>Algorithm Techniques</li>
    </ul>
  </div>
  <div class="yui-u">
    <h3>How An Event Works</h3>
    <ol>
      <li>Get in touch</li>
      <li>Choose a date</li>
      <li>Select a challenge</li>
      <li>Students sign up</li>
      <li>Receive a final report</li>
    </ol>
  </div>
</div>

