<div id="content">
<div id="three-wide">	
	<section>
	<div class="roundbox leftbox">
	<h3>Battle.io <br /> for <br />education</h3>
	</div>
	<div class="column_content">
	<ul>
		<li>Coding Challenges and Games</li>
		<li>Constructive Competition</li>
		<li>Compare and Collaborate</li>
		<li>Learn together</li>
		<li>Develop the best solution</li>
	</ul>
	</div>
	</section>
	
	<section>
	<div class="roundbox middlebox">
	<h3>What students are saying</h3>
	</div>
	<div class="column_content">
	In a survey of undergraduate students utilizing battle.io in a classroom setting:<br />
	<%= image_tag "survey_infographic.png", :alt => 'survey results infographic', :width => '280px' %>
	</div>
	</section>

	<section>
	<div class="roundbox rightbox">
	<h3>Battle.io <br /> for <br />education</h3>
	</div>
	<div class="column_content">
	</div>
	<section>

</div><!-- #main --> 

</div> <!-- #content --> 