<div id="MainContent" class="clearfix">
	<h2 class="punch">Code-wars is an educational community in which students collaborate and compete to solve problems. </h2>
	<section>
		Section1
	</section>
	<section id="leaderboard">
		Leaderboard
	</section>
</div><!-- #main --> 

<aside id="sidebar-homepage">
<div class="rankings">
<h3>User Rankings</h3>
<ol>
  <li><a href="#">Manuel Reichert</a></li>
  <li><a href="#">Gerardo Rice</a></li>
  <li><a href="#">Marques Braun</a></li>
  <li><a href="#">Jessie Champlin</a></li>
</ol>
</div>

<aside>
