<body>
Body.
<header>
Header
</header>
<!-- <nav></nav> --> 
<div id="content">

<div id="MainContent" class="clearfix">
	Main Content.
	<section>
		Section1
	</section>
	<section>
		Section2
	</section>
</div><!-- #main --> 

<aside id="sidebar-homepage">
Aside
<aside>

</div> <!-- #content --> 

<footer>
Footer.
</footer>
</body>
