<div id="MainContent" class="clearfix">
	<h2 class="punch">Code-wars is a community where coders collaborate and compete to solve problems. </h2>
	<section>
		<p>Code-wars is a social community centered around algorithms and coding. Individuals and teams compete to solve problems in the form of games and competitions. Contestants are scored and ranked by their ability to outperform others.</p>
	</section>
	<section>
	<h2>Get Started</h2>	
	<p>Use our Start Wizard to get going, or learn more about our goals.</p>
	<h2>Learn more</h2>
	<p>You can find out more about how Code-Wars works and what we're all about by reading the FAQ and browsing the community forums. </p>
	</section>
	<section id="leaderboard">
		<div class="rankings">
		<h2>User Rankings</h2>
		<ol>
		  <li><a href="#">Manuel Reichert</a></li>
		  <li><a href="#">Gerardo Rice</a></li>
		  <li><a href="#">Marques Braun</a></li>
		  <li><a href="#">Jessie Champlin</a></li>
		</ol>
		</div>
	</section>
</div><!-- #main --> 

<aside id="sidebar-homepage">
  <div class="login">
    <h4>Login with:</h4>
    <div class="loginbutton">
      <div class="imgalign">
      <img src="http://wiki.freeradius.org/images/github_logo.png">
      <img src="https://d3nwyuy0nl342s.cloudfront.net/images/modules/header/logov5.png" width="80px" style="margin:8px;" />
      </div>
    </div>
  </div>
</aside>
<% content_for :end_scripts do %>
  <%= javascript_include_tag "home_index" %>
<% end %>
