<div id="MainContent" class="clearfix">
	<h2 class="punch">Code-wars is a community where coders collaborate and compete to solve problems. </h2>
	<section>
		Section1
	</section>
	<section id="leaderboard">
		<div class="rankings">
		<h3>User Rankings</h3>
		<ol>
		  <li><a href="#">Manuel Reichert</a></li>
		  <li><a href="#">Gerardo Rice</a></li>
		  <li><a href="#">Marques Braun</a></li>
		  <li><a href="#">Jessie Champlin</a></li>
		</ol>
		</div>
	</section>
</div><!-- #main --> 

<aside id="sidebar-homepage">
<div class="login">
<h4>Login with:</h4>
<div class="loginbutton">
	<div class="imgalign">
	<img src="http://wiki.freeradius.org/images/github_logo.png">
	<img src="https://d3nwyuy0nl342s.cloudfront.net/images/modules/header/logov5.png" width="80px" style="margin:8px;" />
	</div>
</div>

</div>
<aside>
