<div id="MainContent" class="clearfix">
	Main Content.
	<section>
		Section1
	</section>
	<section id="leaderboard">
		Leaderboard
	</section>
</div><!-- #main --> 

<aside id="sidebar-homepage">
Aside
<aside>
