<!DOCTYPE html>
<html>
<head>
  <title>Code-wars</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>

<header>
<hgroup class="cenwrap">
	<div id="cw-logo"></div>
	<div id="tagline">
	<h2>Real-Time Coding Challenges</h2>
	<p>For Education</p>
	</div>
</hgroup>
</header>
<nav>
	<div class="cenwrap">
	<div id="banner" class="yui-g">
		<div class="yui-u first"></div>
		<div id="userbar" class="yui-u">
			<ul>
			<li>Register</li>
			</ul>
		</div>
	</div>
	<ul id="topnavbar" class="cenwrap"> 
		<li class="dim"><a href="#">Home</a></li> 
		<li><a href="#">Getting Started</a></li>
		<li><a href="#">Challenges</a></li>
		<li><a href="#">Servers</a></li>
		<li class="rightend"><a href="#">Scoreboard</a></li>
	</ul>
	</div>
</nav>

<div id="content" class="cenwrap">
<%= yield %>

</div> <!-- #content --> 

<footer>
<div id="footersection">
	<div class="yui-g">
	<!-- Column 1 -->
	<div class="yui-g first"><div class="yui-u first">
	<h2>Explore</h2>
	<ul>
	 <li><a href="#">Challenges</a></li>
	 <li><a href="#">Scoreboard</a></li>
	 <li><a href="#">Players</a></li>
	 <li><a href="#">Bots</a></li>
	</ul>
	</div>
	<!-- Column 2 -->
	<div class="yui-u">
	<h2>Help and Questions</h2>
	<ul>
	 <li><a href="#">Getting Started</a></li>
	 <li><a href="#">FAQ</a></li>
	 <li></li>
	</ul>
	</div></div>
	<!-- Column 3 -->
	<div class="yui-g"><div class="yui-u first">
	
	</div>
	<!-- Column 4 -->
	<div class="yui-u">
	<h2>About Code-Wars</h2>
	<div class="">website and contents &copy; <?php echo date('Y') ?></div>
	</div></div></div>

</div><!-- #footersection --> 

</footer>
</body>



</html>
